html {
    font-size: 62.5% /* =10px;;; */;
}

body::-webkit-scrollbar {
    width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

    /* Handle on hover */
    body::-webkit-scrollbar-thumb:hover {
        background: grey;
    }

#root div:not(.description) {
    display: inline-block !important;
}

.tile {
    width: 35.5rem;
    display: inline-block;
    height: 30rem;
    margin: 1.6rem 1.6rem;
    background-color: white;
    text-align: center;
    color: #252424;
    font-weight: normal;
    cursor: pointer;
    border-radius: 0.3rem;
    box-shadow: 0 0.2rem 0.4rem -0.075rem rgba(0,0,0,.1);
}

.title {
    width: 91%;
    color: #3a3939;
    height: 4.7rem;
    font-weight: bold;
    text-align: left;
    font-size: 1.8rem;
    padding-left: 0.1rem;
    padding-top: 2rem;
    font-family: segoe UI, Arial,sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
}

.imageAskHRDiv {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    overflow: hidden;
    overflow-y: hidden;
    width: 32.3rem !important;
    height: 13.6rem !important;
    margin-left: auto;
    margin-right: auto;
}

.descDiv {
    height: 6rem;
    width: 100%;
}

.imageAskHR {
    width: 100%;
    padding-bottom: 1.2rem;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 0%;
    height: 14rem;
}

.description {
    width: 91%;
    height: 5.9rem;
    float: left;
    text-align: left;
    padding-left: 1.6rem;
    font-family: segoe UI, Arial,sans-serif;
    font-size: 1.4rem;
    color: #484644;
    overflow: hidden;
    font-weight: normal;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/*Dark theme*/
.theme-dark .tile {
    background-color: #3b3a3a;
    box-shadow: 0px 0px 1px 1px #1d1d1dd4;
}

.theme-dark .title {
    color: #d2d2d2;
}

.theme-dark .description {
    color: #adacac;
}

/*High-Contrast theme*/
.theme-contrast .tile {
    background-color: black;
    border: 1px white solid;
}

.theme-contrast .title {
    color: white;
}

.theme-contrast .description {
    color: white;
}

/*Light-Theme*/

.theme-light .tile {
    background-color: white;
}

.theme-dark input {
    background-color: #33344A;
    color: #a6a7dc;
}

.loginBtn {
    margin-left: 1rem;
    width: 12rem;
    cursor: pointer;
    border: none;
    margin-top: 2rem;
    font-size: 1.4rem;
    color: #6264a7;
    background: #F4F4FC;
    font-weight: bold;
    height: 3.6rem;
    border-radius: 0.5rem;
    border: 1px #6264a7 solid;
}

.loginSection {
    text-align: center;
    height: 25rem;
    width: 32rem;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
}

.askHRLogoImg {
    height: 64px;
    width: 64px;
    margin-bottom: 24px;
    border-radius: 3px;
}

.loginText {
    width: 32rem;
    font-weight: 600;
    font-size: 1.8rem;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.askHRAppDescription {
    font-weight: 400;
    font-size: 1.4rem;
    margin-top: 1rem;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.theme-dark .askHRAppDescription {
    color: rgba(255,255,255,.74);
}

.theme-contrast .askHRAppDescription {
    color: white;
}

.theme-dark .loginText {
    color: rgba(255,255,255,.74);
}

.theme-contrast .loginText {
    color: white;
}

.theme-dark input {
    background-color: #33344A;
    color: #a6a7dc;
}

@media only screen and (min-width: 1821px) {
    .description {
        height: 5.5rem;
    }
}
